<?xml version="1.0" encoding="UTF-8" ?>
<suite name="BreatheQA_TestSuite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <!--<test name="test_Login">
        <classes>
            &lt;!&ndash;//add classes below which needs to be executed&ndash;&gt;
            <class name="com.edifecs.breathe.qa.testcases.TestLogin">
                <methods>
                    &lt;!&ndash;//add test cases below with method name, which needs to be executed&ndash;&gt;
                    <include name="testValidLogin"/>
                    <include name="verifyUserName"/>
                    <include name="verifyUserEmail"/>
                </methods>
            </class>
        </classes>
    </test>-->
    <test name="test_HealtAssessment">
        <classes>
            <!--//add classes below which needs to be executed-->

            <class name="com.edifecs.breathe.qa.testcases.TestHealthRiskAssessment">
            </class>
            <class name="com.edifecs.breathe.qa.testcases.TestHealthAssessmentQuestions"></class>
        </classes>
    </test>
    <!--<test name="test_tracking">
        <classes>
            &lt;!&ndash;//add classes below which needs to be executed&ndash;&gt;
            <class name="com.edifecs.breathe.qa.testcases.TestTracking">
                &lt;!&ndash;<methods>
                    &lt;!&ndash;//add test cases below with method name, which needs to be executed&ndash;&gt;
                    <include name="verifyRowCount"/>
                </methods>&ndash;&gt;
            </class>
        </classes>
    </test>-->

</suite>